src/Web.Client/Service References/Authentication/Authentication1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/Authentication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.Authentication" />
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.Authentication" minOccurs="0" name="request" nillable="true" type="q1:AuthenticateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.Authentication" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q2:AuthenticateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contracts.Authentication" minOccurs="0" name="request" nillable="true" type="q3:GetUsersRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contracts.Authentication" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q4:GetUsersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>