src/Web.Client/Service References/Authentication/Authentication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.Authentication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.Authentication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateRequest" nillable="true" type="tns:AuthenticateRequest" />
  <xs:complexType name="AuthenticateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateResponse" nillable="true" type="tns:AuthenticateResponse" />
  <xs:complexType name="GetUsersRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetUsersRequest" nillable="true" type="tns:GetUsersRequest" />
  <xs:complexType name="GetUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUserResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUsersResponse" nillable="true" type="tns:GetUsersResponse" />
  <xs:complexType name="ArrayOfUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserResponse" nillable="true" type="tns:UserResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserResponse" nillable="true" type="tns:ArrayOfUserResponse" />
  <xs:complexType name="UserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfLogins" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserResponse" nillable="true" type="tns:UserResponse" />
</xs:schema>